@font-face {
  font-family: "JasonHandwriting1-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts@20210716/webfont/JasonHandwriting1-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts@20210716/webfont/JasonHandwriting1-Regular.woff) format("woff");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "JasonHandwriting1-Regular", 'Noto Sans TC', sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#bb7272), to(#f0be61));
  background: linear-gradient(90deg, #bb7272, #f0be61);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div nav ul {
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div nav ul li {
  font-size: 1.5rem;
  margin: 1.75rem;
  color: white;
  list-style: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body div nav ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body div nav div {
  background-color: wheat;
  width: 20%;
  height: 0.3vh;
  margin: 1rem;
}

body section.box {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section.box section.mask {
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section.box section.mask div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 25vh;
  margin: 0.1rem;
}

body section.box section.mask div p {
  font-size: 1.6rem;
  width: 100%;
  margin: 1.5rem;
  color: whitesmoke;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body section.box section.mask div img {
  border-radius: 50%;
  z-index: 5;
  width: 25%;
  height: 25vh;
}

li:hover a {
  color: rgba(95, 27, 25, 0.65);
}
/*# sourceMappingURL=style.css.map */